.sidebar {
    width: 250px;
    background-color: #336699; 
    color: white;
    padding: 20px;
    border-top-right-radius: 35px; /* نصف قطر الزاوية اليمنى العليا */
    border-bottom-right-radius: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* لتثبيت الشريط الجانبي على الجانب الأيسر */
    top: 0; /* يبدأ من أعلى الصفحة */
    left: 0; /* مثبت إلى يسار الصفحة */
    height: 100vh; /* يمتد ليشمل كامل ارتفاع الصفحة */
    width: 30vh;
    overflow-y: auto; /* إضافة تمرير عمودي إذا كانت المحتويات تتجاوز ارتفاع الشاشة */
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo-image {
    width: 70px; 
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo h2 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 0;
    font-weight: bold;
}

.logo p {
    color: #010101;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 25px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: #7e95af;
    color: #ffffff;
}
